body {
    background-color: color(fondo);
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: color(header);
  
    img {
      width: 100%;
      max-width: $ancho-maximo;
      height: auto;
    }
  }
  
  nav ul {
    list-style: none;
    padding: 10px;
  
    li {
      display: inline;
      margin-right: 20px;
  
      a {
        color: $color-white;
        text-decoration: none;
  
        &:hover {
          text-decoration: color(hover);
        }
      }
    }
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  article {
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    background-color: $color-goldenrod;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  
  .section-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
  }
  
  .columns {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  section {
    @extend %card-style;
    width: 48%;
  
    img {
      width: 100%;
      margin-top: 10px;
      border-radius: 8px;
    }
  
    h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
      background-color: goldenrod;
    }
  
    p {
      margin-bottom: 10px;
    }
  
    a {
      color: color(enlace);
      text-decoration: none;
      font-weight: bold;
      color: rgb(255, 0, 0);
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  video {
    width: 25%;
    margin: 20px auto 0;
    display:block
  }
  
  footer {
    background-color: color(footer);
    color: $color-white;
    padding: 20px;
    text-align: center;
  
    a {
      color: $color-white;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .chopper-page img,
  .franky-page img,
  .nami-page img,
  .zoro-page img {
    width: 45%;
    margin: 10px;
    display: inline-block;
  }
  
  .precio {
    background-color: color(precio);
    font-size: 25px;
  }