$font-stack: Arial, sans-serif;
$font-size-base: 100%;
$line-height-base: 1.6;
$ancho-maximo: 1200px;

$color-white: #fff;
$color-black: #000;
$color-goldenrod: goldenrod;
$color-gray-dark: #333;
$color-whitesmoke: whitesmoke;
$color-precio: red;